body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0%;
    margin: 0;
    background-color:#f4f4f4;
}

/* Global */
.container {
    width:80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.button_1{
    height:31px;
    background:rgb(110, 202, 255);
    border:0;
    padding-left: 20;
    padding-right: 20;
    color: #ffffff;
}


/* Header */
header {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding-top: 30px;
    min-height: 70px;
    border-bottom: rgb(0, 0, 0) 3px solid;
}

header a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color:rgb(110, 202, 255);
    font-weight: bold;
}

header a:hover{
    color: rgb(109, 109, 109);
    font-weight: bold;
}

/* Showcase */

#showcase{
    min-height: 400px;
    background:url('../img/showcase.jpg') no-repeat;
    text-align: center;
    color: rgb(0, 0, 0);
}

#showcase h1{
    margin-top: 100px;
    font-size: 45px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 18px;
}

/* Newsletter */
#newsletter{
    padding:15px;
    color:white;
    background: rgb(146, 146, 146);
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 18px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 20px;
    width: 250px;
}

/* Boxes */
#boxes {
    margin-top: 20px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width: 95px;
}

/* Footer */
footer{
    flex-shrink: 0;
    color: white;
    background-color: rgb(146, 146, 146);
    text-align: center;
}